/*----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.userInfo{
    width: 100%;
    height: 300px;
    display: inline-block;
    margin: 1% 0;
}

.token {
    background-color: #DCDCDC;
    width: 30%;
    height: 100%;
    margin: 0 1%;   
}

.ammount {
    font-size: 70px;
    text-align: center;
}

.ammount > span {
    color: #6495ED;
}

.nftImage{
    width: 100%;
    display: flex;
}

.imgBox {
    flex: 1;
    align-items: center;
    margin: 1%;
}

.imgBox > img {
    width: 100%;
    align-content: center;
    height: 100%;
}

.imgBox > .imgDescription {
    height: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font: bold;
}


.nftowner {
    color: 'gray';
    font-size: '20px';
    vertical-align: 'middle';
}

.purchaseinfo {
    width: 99.4%;
    background: black;
    margin-left: '1px';
    border-radius: 0px 0px 20px 20px;
    color: white;
    display: inline-block;
}

.purchaseinfo > .information {
    width: 100%;
    color: #a5a7a7;
    display: inline-block;
    margin-top: 5px;
    font: bold;
    font-size: 25px;
}

.purchaseinfo > .realdata {
    width: 100%;
    color: white;
    display: inline-block;
    font: bold;
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.myPurchaseInfo { 
    width: 99.4%;
    background: white;
    margin-left: '1px';
    border-radius: 0px 0px 20px 20px;
    color: white;
    display: inline-block;
    border: solid 2px 0px 0px 0px black;
}

.myPurchaseInfo > .information {
    width: 100%;
    color: gray;
    display: inline-block;
    margin-top: 5px;
    font: bold;
    font-size: 15px;
}

.myPurchaseInfo > .realdata {
    width: 100%;
    color: black;
    display: inline-block;
    font: bold;
    vertical-align: middle;
    font-size: 25px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

 .bid {
    margin-left: 20px;
    float: left;
}
.bidNum {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 25px;
}

.time {
    margin-right: 20px;
    float: right;
}

.card_object{
    transition: 1s;
}

.card_object:hover {
    transform: translate(0px, -10px);
}

.profileBox {
    background: '#BDBDBD';
    width: '150px';
    height: '150px';
    border-radius: '70%';
}

.profileBox > .profile {
    width: '100%';
    height: '100%'; 
    object-fit: 'cover';
}

.ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 5px;
}

.LogoutBtn > span{
    margin-left: 5px !important ; 
}

.applyBtn > span {
    margin-left: 5px !important ; 
}

#userId > span {
    margin-left: 5px !important ; 
}